.admin{
    .container{
        .in-admin{
            @include center;
            gap: 20px;
            padding: 20px 0px;
            .left{
                min-width: 200px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}
.bann-admin{
    .container{
        .in-bann-admin{
            padding: 20px 0px;
            @include center;
            overflow: hidden;
            .left{
                border: 1px solid black;
                position: fixed;
                z-index: 0;
                width: 25%;
                height: 100vh;
            }
        }
    }
}