#basket{
    .container{
        .in-basket{
            padding: 100px 0px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 50px;
            table{
                width: 100%;
                text-align: center;
                th{
                    padding: 20px 0px;
                    border-bottom: 1px solid skyblue;
                }
                tbody{
                    
                    tr{
                        .img{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .image{
                                width: 100px;
                                
                                img{
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
                        }
                        td{
                            padding: 30px 0px;
                            border-bottom: 1px solid skyblue;
                            input[type=number]{
                                background-color: rgb(238, 238, 238);
                                padding: 10px 5px;
                                width: 30%;
                                border: none;
                                outline: none;
                            }
                        }
                    }
                }
            }

            .basket-responsiv{
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 30px;
                .responsiv-cart{
                    padding: 20px 0px;
                    width: 60%;
                    border-radius: 10px;
                    border: none;
                    background-color: #27B889;
                    color: white;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    display: none;
                    position: relative;
                    p{
                        opacity: 1;
                    }
                    .delet-icon{
                        position: absolute;
                        top: 10px;
                        right: 10px;
                    }
                    .image{
                        max-width: 300px;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    input[type=number]{
                        background-color: rgb(238, 238, 238);
                        padding: 10px 5px;
                        width: 50%;
                        border: none;
                        outline: none;
                    }
                }
            }

            .totals{
                display: flex;
                justify-content: space-between;
                .pay{
                    width: 50%;
                    display: none;
                    form{
                        width: 100%;
                        @include column;
                        gap: 10px;
                        // font-size: 20px;
                        input{
                            outline: none;
                        }
                        input[type="text"], input[type="email"]{
                            border-radius: 10px;
                            border: 1px solid #27B889;
                            padding: 20px 15px;
                        }
                        select{
                            border-radius: 10px;
                            border: 1px solid #27B889;
                            padding: 20px 15px;
                        }
                        button{
                            border: none;
                            border-radius: 10px;
                            background-color: #27B889;
                            padding: 20px 15px;
                            color: white;
                            &:hover{
                                cursor: pointer;
                            }
                        }
                    }
                }
                .cart{
                    height: 250px;
                    width: 300px;
                    padding: 20px;
                    border: 4px solid #27B889;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 10px;
                    h2{
                        color: #27B889;
                        font-weight: bold;
                    }
                    div{
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        h5{
                            font-size: $font - 3px;
                        }
                    }
                    button{
                        width: 200px;
                        border: none;
                        font-size: $font - 6px;
                        padding: 15px 10px;
                        background-color: #27B889;
                        color: white;
                        border-radius: 10px;
                    }
                }
            }
        }
    }
}