#faq-questions{
    // background-color: #F3F4F6;
    .container{
        .in-faq-questions{
            @include center;
            align-items: flex-start;
            padding: 100px 0px;
            .left{
                @include column;
                gap: 20px;
                width: 30%;
                h3{
                    font-size: $font + 10px;
                }
                ul{
                    @include column;
                    gap: 20px;
                    li{
                        cursor: pointer;
                    }
                }
            }
            .right{
                @include column;
                gap: 20px;
                width: 60%;
                .question{
                    background-color: white;
                    overflow: hidden;

                    @include column;
                    border-radius: 20px;
                    .active {
                        background-color: #ccc; 
                      }
                    h4{
                        font-size: $font;
                        opacity: .7;
                        margin: 20px;
                        @include center;
                        cursor: pointer;
                    }
                    .answer{
                        overflow: hidden;
                        margin-bottom: 10px;
                        transition: all .5s ease;
                        p{
                            height: 0;
                            padding: 0px 20px;
                        }
                    }
                }
            }
        }
    }
}
// footer{
//     margin-top: 0px;
//     background-color: black;
//     .container{
//         .footer-up{
//             h3{
//                 color: white;
//             }
//             .first{
//                 p{
//                     color: white;
//                 }
//                 a{
//                     color: white;
//                 }
//             }
//             .second{
//                 h3{
//                     color: white;
//                 }
//                 ul{
                    
//                     li{
//                         a{
//                             color: white;
//                             opacity: .7;
//                         }
//                     }
//                 }
//             }
//             .third{
//                 h3{
//                     color: white;
//                 }
//                 p{
//                     width: 70%;
//                     color: white;
//                 }
//             }
//         }
        
//     }
//     .footer-down{
//         border-top: 1px solid rgba(255, 255, 255, 0.369);
//        background-color: black;
//        color: white;
//     }
// }