$font:20px;
$color1:#27B889;
$color1_1:#3cd1a2;
$color2:#EAF0F2;
$color3:#EE4A62;
$color4:#ceebe1;
$color5:#f6d8dd;
$color6:#0ECD73;
$color7:#d7f2e5;
$color8:#F8B81F;
$color9:#f6ebd2;
$color10:#8E56FF;
$color11:#e1d8f5;
$color12:#F92596;
$color13:#f9e0ed;
$color14:#5866EB;
$color15:#dcdff5;
$color16:#F8941F;
$color17:#f9f0e6;
$color18:#39C0FA;
$color19:#ddf0f8;
