* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgba(49, 49, 49, 0.867);
}

p {
  opacity: 0.7;
}

.container {
  margin: 0 auto;
  padding: 0px 60px;
  width: 100%;
  max-width: 1890px;
}

.iframe {
  background-color: rgba(0, 0, 0, 0.785);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  display: none;
}
.iframe iframe {
  width: 70%;
  height: 70%;
}
.iframe i {
  font-size: 40px;
  color: white;
  position: absolute;
  top: 20px;
  right: 20px;
}

header .container .in-header {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
header .container .in-header .logo a {
  max-width: 250px;
}
header .container .in-header .logo a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
header .container .in-header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  font-size: 20px;
}
header .container .in-header ul li a {
  transition: all 0.5s ease;
}
header .container .in-header ul li a:hover {
  color: #27B889;
}
header .container .in-header .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-size: 30px;
  position: relative;
}
header .container .in-header .icons span {
  padding: 2px;
  font-size: 18px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #27B889;
  color: white;
  border-radius: 9999px;
  position: absolute;
  top: -15px;
  right: -15px;
}
header .container .in-header .icons strong {
  font-size: 20px;
}
header .container .in-header .icons strong a {
  transition: all 0.5s ease;
}
header .container .in-header .icons strong a:hover {
  color: #27B889;
}

#banner {
  background-color: #EAF0F2;
  padding-top: 50px 0px;
  background-image: url("../image/round.png.webp");
}
#banner .container .in-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#banner .container .in-banner .left {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 45%;
}
#banner .container .in-banner .left h1 {
  font-size: 40px;
}
#banner .container .in-banner .left h1 span {
  color: #EE4A62;
}
#banner .container .in-banner .left p {
  font-size: 25px;
}
#banner .container .in-banner .left .banner-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: #27B889;
  width: 250px;
  padding: 22px 20px;
  border-radius: 10px;
}
#banner .container .in-banner .left .banner-button button {
  color: white;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}
#banner .container .in-banner .left .banner-button .bi-arrow-right {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
#banner .container .in-banner .right {
  width: 45%;
  margin-top: 50px;
  position: relative;
}
#banner .container .in-banner .right img {
  width: 100%;
  min-width: 400px;
  height: 100%;
  object-fit: cover;
}
#banner .container .in-banner .right .images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  border-radius: 10px;
  padding: 30px 40px;
  width: 350px;
  background-color: white;
  position: absolute;
  bottom: calc((100% - 100px) / 7);
  left: -175px;
}
#banner .container .in-banner .right .images h5 {
  font-size: 20px;
}
#banner .container .in-banner .right .images .instrunctor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#banner .container .in-banner .right .images .instrunctor img {
  max-width: 200px;
  min-width: 100px;
}
#banner .container .in-banner .right .images .instrunctor h4 {
  font-size: 15px;
  opacity: 0.9;
}
#banner .container .in-banner .right .images .instrunctor h4 span {
  color: #EE4A62;
}

#banner-icon {
  background-color: #27B889;
  margin-top: -5px;
}
#banner-icon .container .in-banner-icon {
  display: grid;
  grid-template-columns: repeat(4, auto);
}
#banner-icon .container .in-banner-icon .svg-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0px;
  justify-content: center;
  gap: 10px;
}
#banner-icon .container .in-banner-icon .svg-icon .icon {
  width: 70px;
  height: 70px;
  background-color: #3cd1a2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
}
#banner-icon .container .in-banner-icon .svg-icon h4 {
  width: 45%;
  color: white;
  font-size: 20px;
}

#categories .container .in-categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 150px 0px;
}
#categories .container .in-categories h2 {
  font-size: 50px;
}
#categories .container .in-categories p {
  font-size: 20px;
}
#categories .container .in-categories .categories-carts {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 40px;
}
#categories .container .in-categories .categories-carts .cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 166, 0, 0.552);
  gap: 20px;
  padding: 30px 60px;
  border-radius: 10px;
  transition: all 0.5s ease;
}
#categories .container .in-categories .categories-carts .cart:hover i {
  color: white;
}
#categories .container .in-categories .categories-carts .cart:hover a {
  color: white;
}
#categories .container .in-categories .categories-carts .cart i {
  font-size: 50px;
}
#categories .container .in-categories .categories-carts .cart a {
  font-size: 23px;
  color: black;
}
#categories .container .in-categories .categories-carts .first {
  background-color: #ceebe1;
}
#categories .container .in-categories .categories-carts .first i {
  color: #27B889;
}
#categories .container .in-categories .categories-carts .first:hover {
  background-color: #27B889;
}
#categories .container .in-categories .categories-carts .second {
  background-color: #f6d8dd;
}
#categories .container .in-categories .categories-carts .second i {
  color: #EE4A62;
}
#categories .container .in-categories .categories-carts .second:hover {
  background-color: #EE4A62;
}
#categories .container .in-categories .categories-carts .third {
  background-color: #d7f2e5;
}
#categories .container .in-categories .categories-carts .third i {
  color: #0ECD73;
}
#categories .container .in-categories .categories-carts .third:hover {
  background-color: #0ECD73;
}
#categories .container .in-categories .categories-carts .fourth {
  background-color: #f6ebd2;
}
#categories .container .in-categories .categories-carts .fourth i {
  color: #F8B81F;
}
#categories .container .in-categories .categories-carts .fourth:hover {
  background-color: #F8B81F;
}
#categories .container .in-categories .categories-carts .fifth {
  background-color: #e1d8f5;
}
#categories .container .in-categories .categories-carts .fifth i {
  color: #8E56FF;
}
#categories .container .in-categories .categories-carts .fifth:hover {
  background-color: #8E56FF;
}
#categories .container .in-categories .categories-carts .sixth {
  background-color: #f9e0ed;
}
#categories .container .in-categories .categories-carts .sixth i {
  color: #F92596;
}
#categories .container .in-categories .categories-carts .sixth:hover {
  background-color: #F92596;
}
#categories .container .in-categories .categories-carts .seventh {
  background-color: #dcdff5;
}
#categories .container .in-categories .categories-carts .seventh i {
  color: #5866EB;
}
#categories .container .in-categories .categories-carts .seventh:hover {
  background-color: #5866EB;
}
#categories .container .in-categories .categories-carts .eighth {
  background-color: #f9f0e6;
}
#categories .container .in-categories .categories-carts .eighth i {
  color: #F8941F;
}
#categories .container .in-categories .categories-carts .eighth:hover {
  background-color: #F8941F;
}
#categories .container .in-categories .categories-carts .nineth {
  background-color: #ddf0f8;
}
#categories .container .in-categories .categories-carts .nineth i {
  color: #39C0FA;
}
#categories .container .in-categories .categories-carts .nineth:hover {
  background-color: #39C0FA;
}

#about {
  background-image: url("../image/round.png.webp");
}
#about .container .in-about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0px;
}
#about .container .in-about .left {
  width: 45%;
  border-radius: 10px;
  position: relative;
}
#about .container .in-about .left .awards {
  background-color: white;
  border-radius: 10px;
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding: 15px 30px;
  position: absolute;
  bottom: -50px;
  right: -90px;
}
#about .container .in-about .left .awards .icon {
  width: 60px;
  height: 60px;
  background-color: #abebe0;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#about .container .in-about .left .awards .icon i {
  color: #27B889;
  font-size: 25px;
}
#about .container .in-about .left .awards .info span {
  color: #1AB69D;
  font-size: 25px;
  font-weight: bold;
}
#about .container .in-about .left img {
  border-radius: 10px;
  width: 100%;
  max-width: 470px;
  min-width: 300px;
  height: 100%;
  object-fit: cover;
}
#about .container .in-about .left .image {
  width: 260px;
  height: 210px;
  background-image: url("../image/Image-2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -80px;
  top: -100px;
}
#about .container .in-about .left .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#about .container .in-about .left .image .icon {
  background-color: white;
  width: 70px;
  height: 70px;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}
#about .container .in-about .left .image .icon:hover {
  background-color: #27B889;
}
#about .container .in-about .left .image .icon:hover i {
  color: white;
}
#about .container .in-about .left .image .icon i {
  color: #EE4A62;
  font-size: 40px;
  cursor: pointer;
}
#about .container .in-about .right {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#about .container .in-about .right h2 {
  margin-top: 15px;
  padding: 10px 0px;
  font-size: 40px;
  width: 100%;
  position: relative;
}
#about .container .in-about .right h2::after {
  content: "";
  background-color: #27B889;
  width: 30%;
  height: 10px;
  clip-path: path("M 0 200 L 0,75 A 5,5 0,0,1 150,75 L 200 200 z");
  position: absolute;
  left: 0;
  top: 100%;
}
#about .container .in-about .right h2 span {
  color: #EE4A62;
}
#about .container .in-about .right p {
  font-size: 17px;
}
#about .container .in-about .right div {
  display: flex;
  align-items: center;
  gap: 10px;
}
#about .container .in-about .right div i {
  font-size: 35px;
  color: #F8B81F;
}
#about .container .in-about .right div strong {
  font-size: 17px;
  opacity: 0.6;
}

#course {
  width: 100%;
  margin: 100px 0px;
  background-color: #F0F4F5;
}
#course .container .in-course {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 50px 0px;
}
#course .container .in-course p {
  font-size: 15px;
}
#course .container .in-course h2 {
  font-size: 35px;
  padding: 10px 0px;
  position: relative;
}
#course .container .in-course h2::after {
  content: "";
  width: 30%;
  height: 5px;
  background-color: #27B889;
  position: absolute;
  top: 100%;
  left: 0;
}
#course .container .in-course .course-carts {
  margin-top: 30px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 40px;
}
#course .container .in-course .course-carts .cart {
  border-radius: 10px;
  position: relative;
}
#course .container .in-course .course-carts .cart .hiddenDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  color: white;
  padding: 30px 20px;
  background-color: #1AB69D;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  transition: all 0.5s ease;
}
#course .container .in-course .course-carts .cart .hiddenDiv .heartDiv {
  width: 60px;
  height: 60px;
  border-radius: 9999px;
  background-color: #3cd1a2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 20px;
}
#course .container .in-course .course-carts .cart .hiddenDiv .heartDiv .bi-heart {
  font-size: 20px;
}
#course .container .in-course .course-carts .cart .hiddenDiv .title-span {
  background-color: white;
  color: black;
  text-align: center;
  width: 100px;
  padding: 5px 2px;
}
#course .container .in-course .course-carts .cart .hiddenDiv h3 {
  opacity: 1;
}
#course .container .in-course .course-carts .cart .hiddenDiv .ratings i {
  color: yellow;
}
#course .container .in-course .course-carts .cart .hiddenDiv .ratings span {
  font-size: 15px;
}
#course .container .in-course .course-carts .cart .hiddenDiv .price {
  color: white;
  font-size: 25px;
}
#course .container .in-course .course-carts .cart .hiddenDiv .cart-info {
  color: white;
  opacity: 1;
  font-size: 18px;
}
#course .container .in-course .course-carts .cart .hiddenDiv .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
#course .container .in-course .course-carts .cart .hiddenDiv .icons p i, #course .container .in-course .course-carts .cart .hiddenDiv .icons p span {
  font-size: 14px;
}
#course .container .in-course .course-carts .cart .hiddenDiv:hover {
  opacity: 1;
}
#course .container .in-course .course-carts .cart .image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: auto;
  position: relative;
}
#course .container .in-course .course-carts .cart .image .date {
  background-color: #F8B81F;
  width: 100px;
  padding: 5px 3px;
  font-size: 15px;
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
}
#course .container .in-course .course-carts .cart .image img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#course .container .in-course .course-carts .cart .info {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 20px;
}
#course .container .in-course .course-carts .cart .info .title-span {
  text-align: center;
  width: 100px;
  padding: 5px 2px;
  background-color: #ceebe1;
  color: #27B889;
}
#course .container .in-course .course-carts .cart .info h3 {
  opacity: 0.7;
}
#course .container .in-course .course-carts .cart .info .ratings i {
  color: #ffbb00;
}
#course .container .in-course .course-carts .cart .info .ratings span {
  font-size: 15px;
}
#course .container .in-course .course-carts .cart .info .price {
  color: #EE4A62;
  font-size: 25px;
}
#course .container .in-course .course-carts .cart .info .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
#course .container .in-course .course-carts .cart .info .icons p i, #course .container .in-course .course-carts .cart .info .icons p span {
  font-size: 14px;
}/*# sourceMappingURL=index.css.map */