* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgba(49, 49, 49, 0.867);
}

p {
  opacity: 0.7;
}

.container {
  margin: 0 auto;
  padding: 0px 60px;
  width: 100%;
  max-width: 1440px;
}

.respons-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  padding: 10px 0px;
  background-color: white;
  width: 70%;
  position: fixed;
  z-index: 30000;
  transform: translateX(-500%);
  transition: all 0.3s ease;
}
.respons-menu .image {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 10px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.268);
}
.respons-menu .image img {
  max-width: 100px;
}
.respons-menu ul {
  padding: 0px 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.respons-menu ul li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.268);
  padding: 5px 0px;
}

.iframe {
  background-color: rgba(0, 0, 0, 0.785);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  display: none;
}
.iframe iframe {
  width: 70%;
  height: 70%;
}
.iframe i {
  font-size: 40px;
  color: white;
  position: absolute;
  top: 20px;
  right: 20px;
}

header {
  width: 100%;
  background-color: white;
  transition: all 1s ease;
  z-index: 20000;
}
header .container .in-header {
  width: 100%;
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
header .container .in-header .logo {
  min-width: 100px;
}
header .container .in-header .logo a {
  max-width: 250px;
}
header .container .in-header .logo a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
header .container .in-header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  font-size: 17px;
}
header .container .in-header ul li a {
  transition: all 0.5s ease;
}
header .container .in-header ul li a:hover {
  color: #27B889;
}
header .container .in-header .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  position: relative;
}
header .container .in-header .icons .searchInput {
  border: none;
  height: 0;
  width: 0;
}
header .container .in-header .icons .search {
  transition: all 1s ease;
  border: 1px solid white;
  background-color: #ceebe1;
  padding: 10px 5px;
  border-radius: 10px;
  outline: none;
}
header .container .in-header .icons .search:focus {
  border: 1px solid #27B889;
}
header .container .in-header .icons span {
  padding: 2px;
  font-size: 14px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #27B889;
  color: white;
  border-radius: 9999px;
  position: absolute;
  top: -15px;
  right: -15px;
}
header .container .in-header strong a {
  transition: all 0.5s ease;
}
header .container .in-header strong a:hover {
  color: #27B889;
}
header .container .in-header .bi-list {
  display: none;
}

#banner {
  background-color: #EAF0F2;
  padding-top: 50px 0px;
}
#banner .container .in-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#banner .container .in-banner .left {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 45%;
}
#banner .container .in-banner .left h1 {
  font-size: 40px;
}
#banner .container .in-banner .left h1 span {
  color: #EE4A62;
}
#banner .container .in-banner .left p {
  font-size: 25px;
}
#banner .container .in-banner .left .banner-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: #27B889;
  width: 250px;
  padding: 22px 20px;
  border-radius: 10px;
}
#banner .container .in-banner .left .banner-button button {
  color: white;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}
#banner .container .in-banner .left .banner-button .bi-arrow-right {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
#banner .container .in-banner .right {
  width: 45%;
  margin-top: 50px;
  position: relative;
}
#banner .container .in-banner .right img {
  width: 100%;
  max-width: 400px;
  height: 100%;
  object-fit: cover;
}
#banner .container .in-banner .right .images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  border-radius: 10px;
  padding: 30px 40px;
  width: 350px;
  background-color: white;
  position: absolute;
  bottom: calc((100% - 100px) / 7);
  left: -175px;
}
#banner .container .in-banner .right .images h5 {
  font-size: 20px;
}
#banner .container .in-banner .right .images .instrunctor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#banner .container .in-banner .right .images .instrunctor img {
  max-width: 200px;
  min-width: 100px;
}
#banner .container .in-banner .right .images .instrunctor h4 {
  font-size: 15px;
  opacity: 0.9;
}
#banner .container .in-banner .right .images .instrunctor h4 span {
  color: #EE4A62;
}

#banner-icon {
  background-color: #27B889;
  margin-top: -5px;
}
#banner-icon .container .in-banner-icon {
  padding: 20px 0px;
  display: grid;
  grid-template-columns: repeat(4, auto);
}
#banner-icon .container .in-banner-icon .first {
  border-right: 1px solid rgba(255, 255, 255, 0.433);
}
#banner-icon .container .in-banner-icon .second {
  border-right: 0px solid rgba(255, 255, 255, 0.433);
}
#banner-icon .container .in-banner-icon .third {
  border-right: 1px solid rgba(255, 255, 255, 0.433);
}
#banner-icon .container .in-banner-icon .svg-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0px;
  justify-content: center;
  gap: 10px;
}
#banner-icon .container .in-banner-icon .svg-icon .icon {
  width: 70px;
  height: 70px;
  background-color: #3cd1a2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
}
#banner-icon .container .in-banner-icon .svg-icon h4 {
  width: 45%;
  color: white;
  font-size: 20px;
}

#categories .container .in-categories {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 150px 0px;
}
#categories .container .in-categories h2 {
  font-size: 50px;
  padding: 20px 0px;
  position: relative;
}
#categories .container .in-categories h2::after {
  content: "";
  background-color: #27B889;
  width: 30%;
  height: 10px;
  position: absolute;
  left: 35%;
  top: 100%;
}
#categories .container .in-categories p {
  font-size: 20px;
}
#categories .container .in-categories .categories-carts {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 40px;
}
#categories .container .in-categories .categories-carts .cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(255, 166, 0, 0.552);
  gap: 20px;
  padding: 30px 60px;
  border-radius: 10px;
  transition: all 0.5s ease;
}
#categories .container .in-categories .categories-carts .cart .icon {
  width: 50px;
}
#categories .container .in-categories .categories-carts .cart:hover i {
  color: white;
}
#categories .container .in-categories .categories-carts .cart:hover a {
  color: white;
}
#categories .container .in-categories .categories-carts .cart i {
  font-size: 50px;
}
#categories .container .in-categories .categories-carts .cart a {
  font-size: 17px;
  color: black;
}
#categories .container .in-categories .categories-carts .first {
  background-color: #ceebe1;
}
#categories .container .in-categories .categories-carts .first i {
  color: #27B889;
}
#categories .container .in-categories .categories-carts .first:hover {
  background-color: #27B889;
}
#categories .container .in-categories .categories-carts .second {
  background-color: #f6d8dd;
}
#categories .container .in-categories .categories-carts .second i {
  color: #EE4A62;
}
#categories .container .in-categories .categories-carts .second:hover {
  background-color: #EE4A62;
}
#categories .container .in-categories .categories-carts .third {
  background-color: #d7f2e5;
}
#categories .container .in-categories .categories-carts .third i {
  color: #0ECD73;
}
#categories .container .in-categories .categories-carts .third:hover {
  background-color: #0ECD73;
}
#categories .container .in-categories .categories-carts .fourth {
  background-color: #f6ebd2;
}
#categories .container .in-categories .categories-carts .fourth i {
  color: #F8B81F;
}
#categories .container .in-categories .categories-carts .fourth:hover {
  background-color: #F8B81F;
}
#categories .container .in-categories .categories-carts .fifth {
  background-color: #e1d8f5;
}
#categories .container .in-categories .categories-carts .fifth i {
  color: #8E56FF;
}
#categories .container .in-categories .categories-carts .fifth:hover {
  background-color: #8E56FF;
}
#categories .container .in-categories .categories-carts .sixth {
  background-color: #f9e0ed;
}
#categories .container .in-categories .categories-carts .sixth i {
  color: #F92596;
}
#categories .container .in-categories .categories-carts .sixth:hover {
  background-color: #F92596;
}
#categories .container .in-categories .categories-carts .seventh {
  background-color: #dcdff5;
}
#categories .container .in-categories .categories-carts .seventh i {
  color: #5866EB;
}
#categories .container .in-categories .categories-carts .seventh:hover {
  background-color: #5866EB;
}
#categories .container .in-categories .categories-carts .eighth {
  background-color: #f9f0e6;
}
#categories .container .in-categories .categories-carts .eighth i {
  color: #F8941F;
}
#categories .container .in-categories .categories-carts .eighth:hover {
  background-color: #F8941F;
}
#categories .container .in-categories .categories-carts .nineth {
  background-color: #ddf0f8;
}
#categories .container .in-categories .categories-carts .nineth i {
  color: #39C0FA;
}
#categories .container .in-categories .categories-carts .nineth:hover {
  background-color: #39C0FA;
}

#about {
  background-color: #EAF0F2;
}
#about .container .in-about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 150px 0px;
}
#about .container .in-about .left {
  width: 45%;
  border-radius: 10px;
  position: relative;
}
#about .container .in-about .left .awards {
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding: 15px 30px;
  position: absolute;
  bottom: -50px;
  right: -90px;
  animation: bounce 4s infinite;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
#about .container .in-about .left .awards .icon {
  width: 60px;
  height: 60px;
  background-color: #abebe0;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#about .container .in-about .left .awards .icon i {
  color: #27B889;
  font-size: 25px;
}
#about .container .in-about .left .awards .info span {
  color: #1AB69D;
  font-size: 25px;
  font-weight: bold;
}
#about .container .in-about .left img {
  border-radius: 10px;
  width: 100%;
  max-width: 470px;
  min-width: 300px;
  height: 100%;
  object-fit: cover;
}
#about .container .in-about .left .image {
  width: 260px;
  height: 210px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  background-image: url("../image/Image-2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -80px;
  top: -100px;
}
#about .container .in-about .left .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#about .container .in-about .left .image .icon {
  background-color: white;
  width: 70px;
  height: 70px;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}
#about .container .in-about .left .image .icon:hover {
  background-color: #27B889;
}
#about .container .in-about .left .image .icon:hover i {
  color: white;
}
#about .container .in-about .left .image .icon i {
  color: #EE4A62;
  font-size: 40px;
  cursor: pointer;
}
#about .container .in-about .right {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#about .container .in-about .right h2 {
  margin-top: 15px;
  padding: 10px 0px;
  font-size: 40px;
  width: 100%;
  position: relative;
}
#about .container .in-about .right h2::after {
  content: "";
  background-color: #27B889;
  width: 30%;
  height: 10px;
  clip-path: path("M 0 200 L 0,75 A 5,5 0,0,1 150,75 L 200 200 z");
  position: absolute;
  left: 0;
  top: 100%;
}
#about .container .in-about .right h2 span {
  color: #EE4A62;
}
#about .container .in-about .right p {
  font-size: 17px;
}
#about .container .in-about .right div {
  display: flex;
  align-items: center;
  gap: 10px;
}
#about .container .in-about .right div i {
  font-size: 35px;
  color: #F8B81F;
}
#about .container .in-about .right div strong {
  font-size: 17px;
  opacity: 0.6;
}

#course {
  width: 100%;
  margin: 100px 0px;
  background-color: #F0F4F5;
}
#course .container .in-course {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 50px 0px;
  position: relative;
}
#course .container .in-course .point {
  width: 200px;
  position: absolute;
  bottom: 50px;
  left: calc((100% - 700px) / 3);
  transition: all 3s ease;
}
#course .container .in-course .point img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#course .container .in-course .point:hover {
  left: calc((100% - 900px) / 3);
}
#course .container .in-course .loading-gif {
  width: 200px;
  position: absolute;
  bottom: 50px;
  left: calc((100% - 500px) / 3);
  z-index: 2;
  animation: rotate 8s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#course .container .in-course .loading-gif img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#course .container .in-course p {
  font-size: 15px;
}
#course .container .in-course h2 {
  font-size: 35px;
  padding: 10px 0px;
  position: relative;
}
#course .container .in-course h2::after {
  content: "";
  width: 30%;
  height: 5px;
  background-color: #27B889;
  position: absolute;
  top: 100%;
  left: 0;
}
#course .container .in-course a {
  margin-bottom: 90px;
}
#course .container .in-course a button {
  cursor: pointer;
  margin-top: 20px;
  border-radius: 10px;
  color: white;
  background-color: #27B889;
  border: none;
  font-size: 18px;
  padding: 15px 30px;
}
#course .container .in-course .reyting {
  background-color: white;
  padding: 40px;
  margin-bottom: -300px;
  width: 600px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  position: relative;
}
#course .container .in-course .reyting img {
  width: 200px;
  position: absolute;
  bottom: -100px;
  right: -100px;
  z-index: -1;
}
#course .container .in-course .reyting .redpoint {
  transition: all 2s ease;
  z-index: -2;
}
#course .container .in-course .reyting .redpoint:hover {
  right: -50px;
}
#course .container .in-course .reyting div {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  25%, 75% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
}
#course .container .in-course .reyting div span {
  font-size: 40px;
  font-weight: bold;
  animation: shake 1s infinite;
}
#course .container .in-course .reyting .first {
  border-right: 1px solid rgba(0, 0, 0, 0.086);
  border-bottom: 1px solid rgba(0, 0, 0, 0.086);
}
#course .container .in-course .reyting .second {
  border-bottom: 1px solid rgba(0, 0, 0, 0.086);
  border-left: 1px solid rgba(0, 0, 0, 0.086);
}
#course .container .in-course .reyting .third {
  border-right: 1px solid rgba(0, 0, 0, 0.086);
  border-top: 1px solid rgba(0, 0, 0, 0.086);
}
#course .container .in-course .reyting .fourth {
  border-top: 1px solid rgba(0, 0, 0, 0.086);
  border-left: 1px solid rgba(0, 0, 0, 0.086);
}
#course .container .in-course .course-carts {
  margin-top: 30px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 40px;
}
#course .container .in-course .course-carts .cart {
  border-radius: 10px;
  position: relative;
}
#course .container .in-course .course-carts .cart .hiddenDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  border-radius: 10px;
  color: white;
  padding: 30px 20px;
  background-color: #1AB69D;
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  transition: all 0.5s ease;
}
#course .container .in-course .course-carts .cart .hiddenDiv .heartDiv {
  width: 60px;
  height: 60px;
  border-radius: 9999px;
  background-color: #3cd1a2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 20px;
}
#course .container .in-course .course-carts .cart .hiddenDiv .heartDiv .bi-heart {
  font-size: 20px;
}
#course .container .in-course .course-carts .cart .hiddenDiv .title-span {
  background-color: white;
  color: black;
  text-align: center;
  width: 100px;
  padding: 5px 2px;
}
#course .container .in-course .course-carts .cart .hiddenDiv h3 {
  opacity: 1;
}
#course .container .in-course .course-carts .cart .hiddenDiv .ratings i {
  color: yellow;
}
#course .container .in-course .course-carts .cart .hiddenDiv .ratings span {
  font-size: 15px;
}
#course .container .in-course .course-carts .cart .hiddenDiv .price {
  color: white;
  font-size: 25px;
}
#course .container .in-course .course-carts .cart .hiddenDiv .cart-info {
  color: white;
  opacity: 1;
  font-size: 18px;
}
#course .container .in-course .course-carts .cart .hiddenDiv .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
#course .container .in-course .course-carts .cart .hiddenDiv .icons p i, #course .container .in-course .course-carts .cart .hiddenDiv .icons p span {
  font-size: 14px;
}
#course .container .in-course .course-carts .cart .hiddenDiv:hover {
  opacity: 1;
}
#course .container .in-course .course-carts .cart .image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: auto;
  position: relative;
}
#course .container .in-course .course-carts .cart .image .date {
  background-color: #F8B81F;
  width: 100px;
  padding: 5px 3px;
  font-size: 15px;
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
}
#course .container .in-course .course-carts .cart .image img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#course .container .in-course .course-carts .cart .info {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 20px;
}
#course .container .in-course .course-carts .cart .info .title-span {
  text-align: center;
  width: 100px;
  padding: 5px 2px;
  background-color: #ceebe1;
  color: #27B889;
}
#course .container .in-course .course-carts .cart .info h3 {
  opacity: 0.7;
  overflow: hidden;
  height: 50px;
}
#course .container .in-course .course-carts .cart .info .ratings i {
  color: #ffbb00;
}
#course .container .in-course .course-carts .cart .info .ratings span {
  font-size: 15px;
}
#course .container .in-course .course-carts .cart .info .price {
  color: #EE4A62;
  font-size: 25px;
}
#course .container .in-course .course-carts .cart .info .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
#course .container .in-course .course-carts .cart .info .icons p i, #course .container .in-course .course-carts .cart .info .icons p span {
  font-size: 14px;
}

#call {
  margin-top: 300px;
}
#call .container .in-call {
  padding: 100px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#call .container .in-call .center {
  padding: 50px 0px;
  background-color: #27B889;
  width: 80%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
}
#call .container .in-call .center .img1 {
  position: absolute;
  top: -50px;
  left: -100px;
  z-index: -1;
}
#call .container .in-call .center .img2 {
  position: absolute;
  bottom: -50px;
  right: -100px;
  z-index: -1;
}
#call .container .in-call .center .left, #call .container .in-call .center .right {
  color: rgba(255, 255, 255, 0.532);
}
#call .container .in-call .center .left a, #call .container .in-call .center .right a {
  color: white;
  font-size: 25px;
}
#call .container .in-call .center p {
  width: 70px;
  height: 70px;
  color: #27B889;
  font-size: 30px;
  background-color: white;
  opacity: 1;
  border-radius: 9999px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#instructors .container .in-instructors {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
}
#instructors .container .in-instructors h2 {
  font-size: 40px;
  padding: 10px 0px;
  position: relative;
}
#instructors .container .in-instructors h2::after {
  content: "";
  width: 50%;
  height: 5px;
  background-color: #27B889;
  position: absolute;
  top: 100%;
  left: 0;
}
#instructors .container .in-instructors .instructors-carts {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 40px;
  margin-top: 20px;
}
#instructors .container .in-instructors .instructors-carts .cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
#instructors .container .in-instructors .instructors-carts .cart .image {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
#instructors .container .in-instructors .instructors-carts .cart .image img {
  transition: all 0.5s ease;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
#instructors .container .in-instructors .instructors-carts .cart .image img:hover {
  scale: 1.1;
}
#instructors .container .in-instructors .instructors-carts .cart .info {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}
#instructors .container .in-instructors .instructors-carts .cart .info h3 {
  opacity: 0.7;
}
#instructors .container .in-instructors .instructors-carts .cart .info p {
  text-align: center;
}

#started {
  margin: 100px 0px;
  background-image: url("../image/shape-36.png");
  background-position: center;
  background-color: #F0F4F5;
}
#started .container {
  overflow: hidden;
}
#started .container .in-started {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 100px 0px;
  position: relative;
}
#started .container .in-started .img1 {
  transition: all 1s ease;
  position: absolute;
  bottom: 50px;
  left: 50px;
}
#started .container .in-started .img2 {
  transition: all 1s ease;
  position: absolute;
  top: 10px;
  right: -100px;
  animation: rotate 8s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#started .container .in-started .img3 {
  transition: all 1s ease;
  position: absolute;
  top: 10px;
  right: -100px;
}
#started .container .in-started .img4 {
  transition: all 1s ease;
  position: absolute;
  bottom: 100px;
  left: 170px;
}
#started .container .in-started h2 {
  width: 70%;
  text-align: center;
  font-size: 40px;
}
#started .container .in-started h2 span {
  color: #EE4A62;
}
#started .container .in-started a button {
  border: none;
  color: white;
  background-color: #27B889;
  padding: 20px 30px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}
#started .container .in-started:hover .img1 {
  position: absolute;
  bottom: 70px;
  left: 70px;
}
#started .container .in-started:hover .img2 {
  position: absolute;
  top: 20px;
  right: -80px;
}
#started .container .in-started:hover .img3 {
  position: absolute;
  top: 20px;
  right: -80px;
}
#started .container .in-started:hover .img4 {
  position: absolute;
  bottom: 100px;
  left: 150px;
}

#partner .container .in-partner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  position: relative;
}
#partner .container .in-partner .img1 {
  position: absolute;
  bottom: -200px;
  left: 0;
}
#partner .container .in-partner .img2 {
  position: absolute;
  bottom: -150px;
  left: 150px;
}
#partner .container .in-partner .left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 48%;
}
#partner .container .in-partner .left h2 {
  font-size: 40px;
  width: 70%;
  padding-bottom: 10px;
  position: relative;
}
#partner .container .in-partner .left h2::after {
  content: "";
  width: 50%;
  height: 5px;
  background-color: #27B889;
  position: absolute;
  top: 100%;
  left: 0;
}
#partner .container .in-partner .left p {
  width: 70%;
}
#partner .container .in-partner .right {
  width: 48%;
  display: grid;
  grid-template-columns: repeat(4, auto);
}
#partner .container .in-partner .right .image {
  text-align: center;
  background-color: white;
  transition: all 1s ease;
}
#partner .container .in-partner .right .image img {
  width: 80%;
  height: 80%;
  object-fit: cover;
}
#partner .container .in-partner .right .image:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  scale: 1.01;
}

#news {
  margin-top: 100px;
}
#news .container .in-news {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 50px 0px;
}
#news .container .in-news h2 {
  font-size: 40px;
  opacity: 0.8;
  padding: 10px 0px;
  position: relative;
}
#news .container .in-news h2::after {
  content: "";
  width: 50%;
  height: 5px;
  background-color: #27B889;
  position: absolute;
  top: 100%;
  left: 0;
}
#news .container .in-news .news-carts {
  width: 100%;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
}
#news .container .in-news .news-carts .cart {
  position: relative;
}
#news .container .in-news .news-carts .cart .image {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
#news .container .in-news .news-carts .cart .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: all 0.5s ease;
}
#news .container .in-news .news-carts .cart .image img:hover {
  scale: 1.1;
}
#news .container .in-news .news-carts .cart .info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  margin: 0px 20px;
  padding: 40px 20px;
  position: absolute;
  left: calc((100% - (100% - 10px)) / 2);
  top: 50%;
}
#news .container .in-news .news-carts .cart .info .info-p {
  opacity: 0.5;
}
#news .container .in-news .news-carts .cart .info .icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#news .container .in-news .news-carts .cart .info .icon i {
  color: #27B889;
}

footer {
  margin-top: 100px;
  background-color: #ceebe1;
}
footer .container .footer-up {
  padding: 50px 0px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 40px;
}
footer .container .footer-up h3 {
  opacity: 0.7;
}
footer .container .footer-up .first {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .container .footer-up .first .image img {
  width: 100%;
  max-width: 200px;
  height: 100%;
}
footer .container .footer-up .first p {
  width: 70%;
}
footer .container .footer-up .second {
  display: flex;
  flex-direction: column;
}
footer .container .footer-up .second h3 {
  padding: 10px 0px;
}
footer .container .footer-up .second ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 31px;
  width: 70%;
}
footer .container .footer-up .third {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .container .footer-up .third h3 {
  padding: 10px 0px;
  margin-bottom: 23px;
}
footer .container .footer-up .third p {
  width: 70%;
}
footer .container .footer-up .third .input {
  display: flex;
  gap: 10px;
  align-items: center;
}
footer .container .footer-up .third .input input {
  padding: 15px 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}
footer .container .footer-up .third .input button {
  border: none;
  background-color: #27B889;
  color: white;
  padding: 13px 10px;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}
footer .container .footer-up .third .icon {
  display: flex;
  gap: 20px;
  font-size: 20px;
}
footer .container .footer-up .third .icon :nth-child(1) {
  color: blue;
}
footer .container .footer-up .third .icon :nth-child(2) {
  color: rgba(0, 0, 255, 0.864);
}
footer .container .footer-up .third .icon :nth-child(3) {
  color: #EE4A62;
}
footer .container .footer-up .third .icon :nth-child(4) {
  color: dodgerblue;
}
footer .container .footer-up .third .icon :nth-child(5) {
  color: red;
}
footer .footer-down {
  text-align: center;
  padding: 20px 60px;
  background-color: #EAF0F2;
}

#contact .container .in-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
  padding: 100px 0px;
}
#contact .container .in-contact .left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 45%;
}
#contact .container .in-contact .left h2 {
  width: 70%;
  font-size: 30px;
  opacity: 0.9;
}
#contact .container .in-contact .left .address, #contact .container .in-contact .left .email, #contact .container .in-contact .left .phone {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#contact .container .in-contact .left .address h5, #contact .container .in-contact .left .email h5, #contact .container .in-contact .left .phone h5 {
  font-size: 18px;
  opacity: 0.7;
}
#contact .container .in-contact .left .icons {
  display: flex;
  gap: 20px;
}
#contact .container .in-contact .left .icons i {
  transition: all 0.5s ease;
}
#contact .container .in-contact .left .icons i:hover {
  color: #27B889;
}
#contact .container .in-contact .right {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 45%;
  padding: 50px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
#contact .container .in-contact .right h4 {
  font-size: 20px;
  opacity: 0.8;
}
#contact .container .in-contact .right form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#contact .container .in-contact .right form input[type=text], #contact .container .in-contact .right form [type=email] {
  padding: 20px 0px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.624);
  font-size: 16px;
  outline: none;
}
#contact .container .in-contact .right form input[type=text]:focus, #contact .container .in-contact .right form [type=email]:focus {
  border-bottom: 1px solid #27B889;
}
#contact .container .in-contact .right form textarea {
  resize: vertical;
  padding: 20px 0px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.622);
  font-size: 16px;
  outline: none;
}
#contact .container .in-contact .right form textarea:focus {
  border-bottom: 1px solid #27B889;
}
#contact .container .in-contact .right form button {
  background-color: #1AB69D;
  padding: 20px 10px;
  color: white;
  font-size: 20px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

#faq-questions .container .in-faq-questions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
  padding: 100px 0px;
}
#faq-questions .container .in-faq-questions .left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 30%;
}
#faq-questions .container .in-faq-questions .left h3 {
  font-size: 30px;
}
#faq-questions .container .in-faq-questions .left ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#faq-questions .container .in-faq-questions .left ul li {
  cursor: pointer;
}
#faq-questions .container .in-faq-questions .right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60%;
}
#faq-questions .container .in-faq-questions .right .question {
  background-color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}
#faq-questions .container .in-faq-questions .right .question .active {
  background-color: #ccc;
}
#faq-questions .container .in-faq-questions .right .question h4 {
  font-size: 20px;
  opacity: 0.7;
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
#faq-questions .container .in-faq-questions .right .question .answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
#faq-questions .container .in-faq-questions .right .question .answer p {
  padding: 0px 20px;
}

#course .container .in-course .course-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  width: 100%;
}
#course .container .in-course .course-search input {
  padding: 10px 10px;
  border-radius: 20px;
  border: none;
  background-color: #EAF0F2;
  outline: none;
}
#course .container .in-course .course-search select {
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: #EAF0F2;
  outline: none;
}

#about-banner {
  width: 100%;
  height: 85vh;
  background-image: url("../image/edublink-breadcrumb-bg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#about-banner .container {
  background-color: rgba(0, 0, 0, 0.52);
}
#about-banner .container .in-about-banner {
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}
#about-banner .container .in-about-banner h1 {
  width: 70%;
  font-size: 50px;
  text-align: center;
  color: white;
}
#about-banner .container .in-about-banner p {
  color: white;
}
#about-banner .container .in-about-banner p a {
  color: white;
  transition: all 0.5s ease;
}
#about-banner .container .in-about-banner p a:hover {
  color: #27B889;
}

#about-us .container .in-about-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0px;
}
#about-us .container .in-about-us .left {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#about-us .container .in-about-us .left h2 {
  padding: 10px 0px;
  font-size: 40px;
  width: 100%;
  position: relative;
}
#about-us .container .in-about-us .left h2::after {
  content: "";
  background-color: #27B889;
  width: 30%;
  height: 10px;
  clip-path: path("M 0 200 L 0,75 A 5,5 0,0,1 150,75 L 200 200 z");
  position: absolute;
  left: 0;
  top: 100%;
}
#about-us .container .in-about-us .left h2 span {
  color: #EE4A62;
}
#about-us .container .in-about-us .left p {
  font-size: 17px;
  margin: 20px 0px;
}
#about-us .container .in-about-us .left div {
  display: flex;
  align-items: center;
  gap: 10px;
}
#about-us .container .in-about-us .left div i {
  font-size: 35px;
  color: #F8B81F;
}
#about-us .container .in-about-us .left div strong {
  font-size: 17px;
  opacity: 0.6;
}
#about-us .container .in-about-us .right {
  width: 45%;
}
#about-us .container .in-about-us .right .image {
  border-radius: 10px;
  width: 100%;
  position: relative;
}
#about-us .container .in-about-us .right .image .img1 {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#about-us .container .in-about-us .right .image .img2 {
  position: absolute;
  right: -50px;
  top: -50px;
}
#about-us .container .in-about-us .right .image .img3 {
  position: absolute;
  left: -50px;
  bottom: -50px;
}

#partner-course .container .in-partner-course {
  display: grid;
  grid-template-columns: repeat(6, auto);
}
#partner-course .container .in-partner-course div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#beneficial {
  background-image: url("../image/shape-36.png");
  background-position: center;
  background-color: #F0F4F5;
  margin-bottom: 200px;
}
#beneficial .container .in-beneficial {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 150px 0px;
  position: relative;
}
#beneficial .container .in-beneficial h2 {
  width: 50%;
  text-align: center;
  font-size: 40px;
  opacity: 0.7;
  position: relative;
}
#beneficial .container .in-beneficial h2::after {
  content: "";
  width: 50%;
  height: 5px;
  background-color: #27B889;
  position: absolute;
  top: 100%;
  left: 0;
}
#beneficial .container .in-beneficial h2 span {
  color: #EE4A62;
}
#beneficial .container .in-beneficial .beneficial-carts {
  margin-bottom: -300px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 40px;
}
#beneficial .container .in-beneficial .beneficial-carts :nth-child(1) {
  transition: all 0.5s ease;
}
#beneficial .container .in-beneficial .beneficial-carts :nth-child(1):hover :nth-child(1) {
  background-color: #27B889;
  color: white;
}
#beneficial .container .in-beneficial .beneficial-carts :nth-child(1) :nth-child(1) {
  background-color: #EAF0F2;
  color: #27B889;
  font-size: 30px;
}
#beneficial .container .in-beneficial .beneficial-carts :nth-child(2) {
  transition: all 0.5s ease;
}
#beneficial .container .in-beneficial .beneficial-carts :nth-child(2):hover :nth-child(1) {
  background-color: #EE4A62;
  color: white;
}
#beneficial .container .in-beneficial .beneficial-carts :nth-child(2) :nth-child(1) {
  background-color: #f8dde1;
  color: #EE4A62;
  font-size: 30px;
}
#beneficial .container .in-beneficial .beneficial-carts :nth-child(3) {
  transition: all 0.5s ease;
}
#beneficial .container .in-beneficial .beneficial-carts :nth-child(3):hover :nth-child(1) {
  background-color: rgb(57, 57, 236);
  color: white;
}
#beneficial .container .in-beneficial .beneficial-carts :nth-child(3) :nth-child(1) {
  background-color: rgb(229, 229, 249);
  color: rgb(57, 57, 236);
  font-size: 30px;
}
#beneficial .container .in-beneficial .beneficial-carts .cart {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 70px 30px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
}
#beneficial .container .in-beneficial .beneficial-carts .cart h4 {
  font-size: 20px;
}
#beneficial .container .in-beneficial .beneficial-carts .cart .icon {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
}

#statistic {
  background-image: url("../image/map-shape-3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(227, 227, 227, 0.4117647059);
}
#statistic .container .in-statistic {
  padding: 50px 0px;
}
#statistic .container .in-statistic .statistic-carts {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 40px;
}
#statistic .container .in-statistic .statistic-carts :nth-child(1) :nth-child(1) {
  background-color: #EAF0F2;
  color: #27B889;
  font-size: 30px;
}
#statistic .container .in-statistic .statistic-carts :nth-child(2) :nth-child(1) {
  background-color: #f8dde1;
  color: #EE4A62;
  font-size: 30px;
}
#statistic .container .in-statistic .statistic-carts :nth-child(3) :nth-child(1) {
  background-color: rgb(229, 229, 249);
  color: rgb(57, 57, 236);
  font-size: 30px;
}
#statistic .container .in-statistic .statistic-carts :nth-child(4) :nth-child(1) {
  background-color: #f6ebd2;
  color: #F8B81F;
  font-size: 30px;
}
#statistic .container .in-statistic .statistic-carts .cart {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: white;
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#statistic .container .in-statistic .statistic-carts .cart .icon {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
}
#statistic .container .in-statistic .statistic-carts .cart h4 {
  font-size: 40px;
  opacity: 0.7;
}

#basket .container .in-basket {
  padding: 100px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
#basket .container .in-basket table {
  width: 100%;
  text-align: center;
}
#basket .container .in-basket table th {
  padding: 20px 0px;
  border-bottom: 1px solid skyblue;
}
#basket .container .in-basket table tbody tr .img {
  display: flex;
  justify-content: center;
  align-items: center;
}
#basket .container .in-basket table tbody tr .img .image {
  width: 100px;
}
#basket .container .in-basket table tbody tr .img .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#basket .container .in-basket table tbody tr td {
  padding: 30px 0px;
  border-bottom: 1px solid skyblue;
}
#basket .container .in-basket table tbody tr td input[type=number] {
  background-color: rgb(238, 238, 238);
  padding: 10px 5px;
  width: 30%;
  border: none;
  outline: none;
}
#basket .container .in-basket .totals {
  display: flex;
  justify-content: flex-end;
}
#basket .container .in-basket .totals .cart {
  width: 300px;
  padding: 20px;
  border: 4px solid #27B889;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
#basket .container .in-basket .totals .cart h2 {
  color: #27B889;
  font-weight: bold;
}
#basket .container .in-basket .totals .cart div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#basket .container .in-basket .totals .cart div h5 {
  font-size: 17px;
}
#basket .container .in-basket .totals .cart button {
  width: 200px;
  border: none;
  font-size: 14px;
  padding: 15px 10px;
  background-color: #27B889;
  color: white;
}

#shop .container .in-shop {
  width: 100%;
  padding: 50px 0px;
}
#shop .container .in-shop .shop-carts {
  text-align: center;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 40px;
}
#shop .container .in-shop .shop-carts .cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
#shop .container .in-shop .shop-carts .cart .image {
  width: 100%;
  max-width: 350px;
  overflow: hidden;
  position: relative;
}
#shop .container .in-shop .shop-carts .cart .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease;
}
#shop .container .in-shop .shop-carts .cart .image button {
  width: 150px;
  font-size: 20px;
  border: none;
  background-color: #27B889;
  padding: 10px 15px;
  color: white;
  border-radius: 10px;
  z-index: 1;
  position: absolute;
  bottom: -50px;
  left: calc((100% - 150px) / 2);
  transition: all 0.5s ease;
}
#shop .container .in-shop .shop-carts .cart .image:hover button {
  bottom: 50px;
}
#shop .container .in-shop .shop-carts .cart .image:hover img {
  scale: 1.1;
}
#shop .container .in-shop .shop-carts .cart .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
#shop .container .in-shop .shop-carts .cart .info h3 {
  opacity: 0.7;
}
#shop .container .in-shop .shop-carts .cart .info .icon {
  display: flex;
  align-items: center;
  gap: 5px;
}
#shop .container .in-shop .shop-carts .cart .info .icon i {
  color: yellow;
}
#shop .container .in-shop .shop-carts .cart .info p {
  color: #27B889;
  font-size: 20px;
}

#acount-section {
  background-color: #EAF0F2;
}
#acount-section .container .in-acount-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;
}
#acount-section .container .in-acount-section .center {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
#acount-section .container .in-acount-section .center .image {
  width: 100px;
  height: 100px;
  border-radius: 9999px;
}
#acount-section .container .in-acount-section .center .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 9999px;
}

.admin .container .in-admin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 20px 0px;
}
.admin .container .in-admin .left {
  min-width: 200px;
}
.admin .container .in-admin .left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bann-admin .container .in-bann-admin {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.bann-admin .container .in-bann-admin .left {
  border: 1px solid black;
  position: fixed;
  z-index: 0;
  width: 25%;
  height: 100vh;
}

@media screen and (max-width: 1200px) {
  header .container .in-header ul {
    display: none;
  }
  header .container .in-header .bi-list {
    display: flex;
  }
  header .container .in-header .icons strong {
    display: none;
  }
  #banner .container .in-banner {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  #banner .container .in-banner .left {
    padding-top: 100px;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  #banner .container .in-banner .left p {
    font-size: 20px;
  }
  #banner-icon .container .in-banner-icon {
    grid-template-columns: repeat(2, auto);
  }
  #banner-icon .container .in-banner-icon .second {
    border-right: 0px solid rgba(255, 255, 255, 0.433);
  }
  #banner-icon .container .in-banner-icon .fourth {
    border-right: 0px solid rgba(255, 255, 255, 0.433);
  }
  #categories .container .in-categories .categories-carts {
    grid-template-columns: repeat(2, auto);
  }
  #about .container .in-about {
    display: flex;
    flex-direction: column;
  }
  #about .container .in-about .right {
    width: 100%;
    margin-top: 100px;
  }
  #course .container .in-course .course-carts {
    grid-template-columns: repeat(2, auto);
  }
  #course .container .in-course .point {
    display: none;
  }
  #course .container .in-course .loading-gif {
    display: none;
  }
  #course .container .in-course .reyting img {
    display: none;
  }
  #call .container .in-call .center {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
  #instructors .container .in-instructors .instructors-carts {
    grid-template-columns: repeat(2, auto);
  }
  #started .container .in-started h2 {
    font-size: 30px;
    width: 100%;
  }
  #started .container .in-started .img2 {
    display: none;
  }
  #partner .container .in-partner {
    flex-direction: column;
    gap: 30px;
  }
  #partner .container .in-partner .left {
    width: 100%;
  }
  #partner .container .in-partner .right {
    width: 100%;
  }
  #news .container .in-news {
    text-align: center;
    margin-top: 80px;
  }
  #news .container .in-news h2 {
    font-size: 30px;
  }
  #news .container .in-news .news-carts {
    grid-template-columns: repeat(2, auto);
  }
  #news .container .in-news .news-carts .third {
    margin-top: 100px;
  }
  #about-us .container .in-about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  #about-us .container .in-about-us .left {
    width: 100%;
  }
  #about-us .container .in-about-us .right {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #about-us .container .in-about-us .right .image {
    width: 70%;
  }
  #about-us .container .in-about-us .right .image .img2, #about-us .container .in-about-us .right .image .img3 {
    width: 200px;
  }
  #partner-course .container .in-partner-course {
    grid-template-columns: repeat(4, auto);
  }
  #beneficial .container .in-beneficial {
    padding: 100px 0px;
  }
  #beneficial .container .in-beneficial h2 {
    width: 70%;
  }
  #beneficial .container .in-beneficial .beneficial-carts {
    margin: 0;
    grid-template-columns: repeat(2, auto);
  }
  #statistic .container .in-statistic .statistic-carts {
    grid-template-columns: repeat(3, auto);
  }
  #shop .container .in-shop .shop-carts {
    grid-template-columns: repeat(3, auto);
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0px 40px;
  }
  header .container .in-header strong {
    display: none;
  }
  header .container .in-header .icons #search {
    font-size: 20px;
    gap: 10px;
  }
  #banner .container .in-banner {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  #banner .container .in-banner .left {
    padding-top: 100px;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  #banner .container .in-banner .left p {
    font-size: 20px;
  }
  #banner .container .in-banner .right {
    width: 100%;
    text-align: center;
  }
  #banner .container .in-banner .right img {
    max-width: 500px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #banner .container .in-banner .right .images {
    display: none;
  }
  #banner-icon .container .in-banner-icon {
    grid-template-columns: repeat(1, auto);
  }
  #banner-icon .container .in-banner-icon .svg-icon {
    padding: 10px 0px;
  }
  #banner-icon .container .in-banner-icon .first {
    border: none;
  }
  #banner-icon .container .in-banner-icon .third {
    border: none;
  }
  #categories .container .in-categories .categories-carts {
    grid-template-columns: repeat(1, auto);
  }
  #about .container .in-about {
    display: flex;
    flex-direction: column;
  }
  #about .container .in-about .right {
    width: 100%;
    margin-top: 100px;
  }
  #about .container .in-about .left {
    text-align: center;
    width: 100%;
  }
  #about .container .in-about .left .awards {
    display: none;
  }
  #about .container .in-about .left .image {
    display: none;
  }
  #course .container .in-course .course-carts {
    grid-template-columns: repeat(2, auto);
  }
  #course .container .in-course .point {
    display: none;
  }
  #course .container .in-course .loading-gif {
    display: none;
  }
  #course .container .in-course .reyting {
    background-color: white;
    position: static;
    width: 100%;
    margin: 0;
    grid-template-columns: repeat(1, auto);
  }
  #course .container .in-course .reyting .first {
    border: none;
  }
  #course .container .in-course .reyting .second {
    border: none;
  }
  #course .container .in-course .reyting .third {
    border: none;
  }
  #course .container .in-course .reyting .fourth {
    border: none;
  }
  #call {
    margin-top: 0;
  }
  #call .container .in-call {
    padding: 50px 0px;
  }
  #call .container .in-call .center .img1 {
    display: none;
  }
  #call .container .in-call .center .img2 {
    display: none;
  }
  #instructors .container .in-instructors .instructors-carts {
    grid-template-columns: repeat(2, auto);
  }
  #instructors .container .in-instructors .instructors-carts h2 {
    font-size: 40px;
    padding: 10px 0px;
    position: relative;
  }
  #instructors .container .in-instructors .instructors-carts h2::after {
    content: "";
    width: 50%;
    height: 5px;
    background-color: #27B889;
    position: absolute;
    top: 100%;
    left: 25%;
  }
  #started .container .in-started h2 {
    font-size: 30px;
    width: 100%;
  }
  #started .container .in-started .img2 {
    display: none;
  }
  #started .container .in-started .img1 {
    display: none;
  }
  #started .container .in-started .img3 {
    display: none;
  }
  #started .container .in-started .img4 {
    display: none;
  }
  #partner .container .in-partner {
    flex-direction: column;
    gap: 30px;
  }
  #partner .container .in-partner .left {
    width: 100%;
  }
  #partner .container .in-partner .right {
    width: 100%;
  }
  #news .container .in-news .news-carts {
    grid-template-columns: repeat(1, auto);
  }
  #news .container .in-news .news-carts .third {
    margin-top: 100px;
  }
  #news .container .in-news .news-carts .cart .info {
    position: static;
    width: 100%;
    margin: 0;
    border-radius: 0;
    text-align: start;
  }
  #news .container .in-news .news-carts .cart .info .icon {
    justify-content: flex-start;
    gap: 10px;
  }
  footer .container .footer-up {
    grid-template-columns: repeat(1, auto);
  }
  footer .footer-down {
    padding: 20px 40px;
  }
  #contact .container .in-contact {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  #contact .container .in-contact .right {
    width: 100%;
  }
  #contact .container .in-contact .right form button {
    font-size: 17px;
  }
  #contact .container .in-contact .left {
    width: 100%;
  }
  #about-banner .container .in-about-banner h1 {
    font-size: 40px;
  }
  #about-us .container .in-about-us .right .image {
    width: 90%;
  }
  #about-us .container .in-about-us .right .image .img2, #about-us .container .in-about-us .right .image .img3 {
    display: none;
  }
  #partner-course .container .in-partner-course {
    grid-template-columns: repeat(3, auto);
  }
  #statistic .container .in-statistic .statistic-carts {
    grid-template-columns: repeat(2, auto);
  }
  #shop .container .in-shop .shop-carts {
    grid-template-columns: repeat(2, auto);
  }
}
@media screen and (max-width: 575px) {
  .container {
    padding: 0px 20px;
  }
  header .container .in-header .icons .bi-cart {
    display: none;
  }
  header .container .in-header .icons span {
    display: none;
  }
  #course .container .in-course .course-carts {
    grid-template-columns: repeat(1, auto);
  }
  #instructors .container .in-instructors .instructors-carts {
    grid-template-columns: repeat(1, auto);
  }
  #instructors .container .in-instructors .instructors-carts h2 {
    font-size: 40px;
    padding: 10px 0px;
    position: relative;
  }
  #instructors .container .in-instructors .instructors-carts h2::after {
    content: "";
    width: 50%;
    height: 5px;
    background-color: #27B889;
    position: absolute;
    top: 100%;
    left: 25%;
  }
  #partner .container .in-partner {
    flex-direction: column;
    gap: 30px;
  }
  #partner .container .in-partner .img1 {
    display: none;
  }
  #partner .container .in-partner .img2 {
    display: none;
  }
  #partner .container .in-partner .left {
    width: 100%;
  }
  #partner .container .in-partner .left h2 {
    width: 100%;
  }
  #partner .container .in-partner .left p {
    width: 100%;
  }
  #partner .container .in-partner .right {
    width: 100%;
  }
  footer .container .footer-up {
    grid-template-columns: repeat(1, auto);
  }
  footer .container .footer-up .third .input {
    flex-direction: column;
    align-items: flex-start;
  }
  footer .footer-down {
    padding: 20px;
  }
  #contact .container .in-contact .right form button {
    font-size: 15px;
  }
  #about-banner .container .in-about-banner h1 {
    width: 100%;
    font-size: 30px;
  }
  #about-us .container .in-about-us .right .image {
    width: 100%;
  }
  #partner-course .container .in-partner-course {
    grid-template-columns: repeat(2, auto);
  }
  #beneficial .container .in-beneficial h2 {
    width: 100%;
  }
  #beneficial .container .in-beneficial .beneficial-carts {
    grid-template-columns: repeat(1, auto);
  }
  #beneficial .container .in-beneficial .beneficial-carts .cart {
    padding: 40px 30px;
  }
  #statistic .container .in-statistic .statistic-carts {
    grid-template-columns: repeat(1, auto);
  }
  #shop .container .in-shop .shop-carts {
    grid-template-columns: repeat(1, auto);
  }
}/*# sourceMappingURL=index.css.map */